html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Bantayog';
  src: url('/assets/fonts/Bantayog-Regular.otf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(206, 10%, 5%);
}

svg {
  vertical-align: middle;
}

#__next,
.theme-0 {
  height: 100%;
}
